body {
    font-family: sans-serif;
    background-color: rgb(217, 217, 228);
    margin-top: 75px;
    color: #666;
}

.center {
    text-align: center;
}

.left{
	text-align: left;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.pageBody{
    max-width : 750px;
    margin: 0 auto;
    color: #821A1A;
    font-family: verdana;
    padding-left: 20px;
    padding-right: 20px;
}

.disComments{
	font-family: monospace;
}

